body {
    background-image: url(./assets/creative-mars-collage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.info-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 70vh;
    height: 30vh;
    border: 1px solid rgb(216, 215, 215);
    border-radius: 20px;
    padding: 10px;
    background-color: rgba(240, 248, 255, 0.339);
}
select {
    width: 200px;
    text-align: center;
    margin: 10px;
}
.hidden {
    display: none;
}
.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #fff;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
